<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="contents">
    <div class="login-container">
        <h1>RFMS Main</h1>
        <p class="description">
            실시간 간접투자 관리시스템 메인 페이지입니다.<br>
        </p>

        <button onclick="location.href='/login'" class="login-button">로그인</button>
    </div>
</div>
</body>
</html>